*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    padding: 6px;
}

.services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin: 5px;
}

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

a :visited{
    text-decoration: none;
    color: #000000;
}

a img{
    width: 30px;
    height: 30px;
}

.profile{
    border-radius: 50%;
}

body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.google-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-search img{
    width: 272px ;
    height: 92px;
}

.google-search input{
    width: 561px;
    height: 44px;
}

section center button{
    width: 150px;
    height: 35px;
    margin-bottom: 30px;
}
p{
    width: 100%;
    margin-bottom: 150px;
}
ul li{
    display: inline-block;
}
ul.izq{
    display: flex;
    float: left;
    width: 500px;
    justify-content: space-around;
    margin-left: 0px;
}
ul.der{
    display: flex;
    float: right;
    width: 250px;
    justify-content: space-around;
    margin-left: 0px;
}
ul.mx{
    display: flex;
    margin-left: 15px;
}